.author {
    position: absolute;
    right: 10rem;
    bottom: 0;
    z-index: 2;

    width: 270px;

    @media (max-width: $breakpoint_xl) {
    	right: 2rem;
    }

    @media (max-width:  $breakpoint_lg) {
    	display: none;
    }
}