.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1rem 2rem;

    background: none;
    border: 0;
    border-radius: $radius_sm;
    
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.1;
    color: $black;
    text-decoration: none;
    cursor: pointer;

    transition: background .1s linear, color .1s linear;

    &--pink {
        border: 2px solid $pink;

        &:hover {
            color: $white;
            background-color: $pink;
        }
    }
}