.circle {
    width: 400px;
    height: 400px;

    background: linear-gradient(to bottom, #f5576c, #f093fb);
    box-shadow: 0 5px 25px rgba(0, 0, 0, .15);
    border-radius: 60% 40% 49% 51% / 58% 45% 55% 42%;

    animation: circleRadius 12s alternate infinite;

    position: absolute;
    right: 5rem;
    bottom: 8rem;
    z-index: 1;

    @media (max-width: $breakpoint_xl) {
        right: 0;
    }

    @media (max-width:  $breakpoint_lg) {
        display: none;
    }
}

@keyframes circleRadius {
    0% {
        border-radius: 60% 40% 49% 51% / 58% 45% 55% 42%;
        transform: translate3d(0, 0, 0);
    }
    40% {
        border-radius: 64% 36% 61% 39% / 79% 65% 35% 21%;
        transform: translate3d(-50px, 80px, 0);
    }
    60% {
        border-radius: 44% 56% 51% 37% / 49% 55% 45% 31%;
        transform: translate3d(0, -80px, 0);
    }
    100% {
        border-radius: 27% 73% 36% 64% / 51% 63% 37% 49%;
        transform: translate3d(50px, 80px, 0);
    }
}