.contacts {
    margin: 1rem 0 0;
    padding: 0;
    list-style: none;

    &--modal {
        margin-top: .2rem;
    }
}

.contacts__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 2rem;
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 10px;
        height: 1px;

        background-color: $black;

        position: absolute;
        right: -1.5rem;
        top: 50%;
        z-index: 1;
    }

    &:last-child {

        &::after {
            display: none;
        }
    }

    .contacts--modal & {
        display: block;
        margin-right: 0;

        &::after {
            display: none;
        }
    }
}

.contacts__link {
    color: $black;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}