.input {
    display: block;
    width: 100%;
    height: 2.8rem;
    padding: 1rem 1.8rem;
    
    font-family: inherit;
    color: $black;
    font-size: 1rem;
    line-height: 1.1;
    font-weight: 500;

    border: 1px solid #ddd;
    border-radius: $radius_sm;

    &::placeholder {
        color: #7b7b7b;
    }

    &:focus {
        outline: 0;
        border-color: $pink;
    }
}