.intro__text {
    font-size: 1.2rem;
    color: $grey_dark;
}

.intro__title {
    margin-bottom: .5rem;

    font-size: 3.2rem;
    color: $black;
    font-weight: 600;
    line-height: 1.2;

    @media (max-width: $breakpoint_sm) {
        font-size: 2rem;
    }
}

.intro__subtitle {
    margin-bottom: 2rem;
    
    font-size: 1.6rem;
    color: $black;
    font-weight: 400;

    &--pink {
        color: $pink;
    }

    @media (max-width:  $breakpoint_sm) {
        font-size: 1.2rem;
    }
}