.lang {
    text-align: right;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}

.lang__item {
    margin-left: .5rem;

    color: $black;
    text-decoration: none;

    &.active {
        color: $pink;
    }
}