.modal-content {
    width: 100%;
    padding: 2rem;
    position: relative;

    background-color: $white;
    box-shadow: $shadow;
    border-radius: $radius_sm;
}

.modal__close {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;

    background: none;
    border: none;
    cursor: pointer;
    
    position: absolute;
    top: -2.2rem;
    right: -2.2rem;
    z-index: 1;

    transition: transform .2s linear;
    
    &:hover {
        transform: rotate(180deg);
    }

    &:focus {
        outline: 0;
    }
}

.modal__close-icon {
    display: block;
    width: 100%;
    height: 100%;

    fill: $white;
}

.modal__title {
    margin-bottom: .5rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: $pink;
}

.modal__text {
    margin-bottom: 2rem;

    font-weight: 500;
    font-size: 1rem;
    line-height: 1.2;
    color: $black;
}