.nav {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
}

.nav__link {
    margin-right: 1rem;
    padding: .3em 1.5rem;

    color: $black;
    text-decoration: none;

    border-radius: 20px;

    transition: background .1s linear;

    &:hover {
        background-color: darken($grey, 3%);
    }

    &.active {
        color: $white;
        background-color: $pink;
    }

    @media (max-width: $breakpoint_sm) {
        padding: .3em .5rem;
    }
}