.portfolio {
    position: relative;
}

.portfolio__slider {
    position: relative;
    height: 270px;
    overflow: hidden;

    &::after {
        content:"";
        display: block;
        width: 100%;
        height: 100%;

        background: $white url("../img/ajax-loader.gif") center no-repeat;

        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
    }

    &.slick-initialized {
        overflow: visible;

        &::after {
            display: none;
        }
    }
}

.portfolio__item {
    max-width: 540px;
    position: relative;
    overflow: hidden;

    background-color: #000;

    &:hover {
        .portfolio__img {
            opacity: .3;
        }

        .portfolio__title {
            transform: translateY(0);
        }
    }
}

.portfolio__link {
    display: block;
}

.portfolio__img {
    display: block;
    max-width: 100%;
    height: auto;

    transition: opacity .1s linear;
}

.portfolio__title {
    width: 100%;
    padding: 1rem 1.5rem ;

    font-size: 1.6rem;
    color: $white;
    pointer-events: none;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    transform: translateY(100%);
    transition: transform .2s linear;
}

.portfolio__arrow {
    padding: 0;
    
    background: none;
    border: 0;
    cursor: pointer;

    position: absolute;
    top: 50%;
    z-index: 2;

    &:hover {
        .portfolio__arrow-icon {
            fill: $pink;
        }
    }

    &:focus {
        outline: none;
    }

    &--prev {
        left: -2rem;
        transform: translateY(-50%);
    }

    &--next {
        right: -2rem;
        transform: translateY(-50%) rotate(180deg);
    }
}

.portfolio__arrow-icon {
    width: 20px;
    height: 30px;

    fill: #c5c5c5;
    transition: fill .1s linear;
}