.services {
    margin-bottom: 2rem;
}

.services__item {
    padding: 1.2rem;
    margin-bottom: 2rem;
    height: 100%;
    position: relative;

    background-color: $white;
    border-radius: $radius;
    box-shadow: $shadow;

    @media (max-width: $breakpoint_md) {
        height: auto;
    }
}

.services__icon {
    width: 50px;
    height: 50px;

    position: absolute;
    top: 1rem;
    left: 1.2rem;
    z-index: 1;
}

.services__title {
    padding-left: 5rem;
    margin-bottom: .5rem;

    font-size: 1.4rem;
    font-weight: 500;
    color: $black;
}

.services__text {
    margin-top: 2rem;

    font-size: 1rem;
    color: $black;
}