<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>
    
    {{> counter }}
    
    {{> sprite }}
    
    <div class="page">
        
        {{> header }}
        
        <div class="content">
            {{> body }}
        </div>

        
        {{> footer }}
        
    </div>

    {{> modal }}
    
    <script src="assets/js/app.min.js"></script>
</body>
</html>
