---
layout: default
title: Главная
---

<div class="container">
    <div class="intro">
        <div class="intro__text">Меня зовут</div>
        <div class="intro__title">{{ data.name }}</div>
        <div class="intro__subtitle">я занимаюсь <span class="intro__subtitle--pink">веб-дизайном</span> и <span class="intro__subtitle--pink">созданием сайтов</span></div>

        <div class="row">
            <div class="col-lg-3">
                <a class="btn btn--pink" href="#" data-toggle="modal" data-target="#request">Оставить заявку</a>
            </div>

            <div class="col-lg-9">
                <ul class="contacts">
                    <li class="contacts__item">
                        <a class="contacts__link" href="tel:{{ data.link_tel }}" title="viber/watsapp">{{ data.link_tel }}</a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__link" href="mailto:{{ data.link_email }}">{{ data.link_email }}</a>
                    </li>
                </ul>
            </div>
        </div><!-- /.row -->

    </div><!-- /.intro -->
</div><!-- /.container -->

<img class="author" src="assets/img/man.png" alt="Бородулин Виталий">
<div class="circle"></div>


