---
layout: default
title: Портфолио
---

<div class="container">
	<h1 class="content__title">Портфолио</h1>

	<div class="portfolio">
		<button class="portfolio__arrow portfolio__arrow--prev" id="portfolio-arrow-prev" type="button">
			<svg class="portfolio__arrow-icon">
				<use xlink:href="#prev"></use>
			</svg>
		</button>

		<button class="portfolio__arrow portfolio__arrow--next" id="portfolio-arrow-next" type="button">
			<svg class="portfolio__arrow-icon">
				<use xlink:href="#prev"></use>
			</svg>
		</button>

		<div class="portfolio__slider" id="portfolio">
			<div>
				<div class="portfolio__item">
					<a class="portfolio__link" href="#" target="_blank">
						<img class="portfolio__img" src="assets/img/portfolio/1.jpg" alt="">
					</a>
					<div class="portfolio__title">Сайт проекта 1</div>
				</div>
			</div>

			<div>
				<div class="portfolio__item">
					<a class="portfolio__link" href="#" target="_blank">
						<img class="portfolio__img" src="assets/img/portfolio/2.jpg" alt="">
					</a>
					<div class="portfolio__title">Сайт проекта 2</div>
				</div>
			</div>

			<div>
				<div class="portfolio__item">
					<a class="portfolio__link" href="#" target="_blank">
						<img class="portfolio__img" src="assets/img/portfolio/1.jpg" alt="">
					</a>
					<div class="portfolio__title">Сайт проекта 3</div>
				</div>
			</div>

			<div>
				<div class="portfolio__item">
					<a class="portfolio__link" href="#" target="_blank">
						<img class="portfolio__img" src="assets/img/portfolio/2.jpg" alt="">
					</a>
					<div class="portfolio__title">Сайт проекта 4</div>
				</div>
			</div>
		</div>
	</div><!-- /.portfolio -->

</div><!-- /.container -->
