---
layout: default
title: Мои услуги
---

<div class="container">
    <h1 class="content__title">Услуги</h1>

    <div class="services">
        <div class="row">

            <div class="col-lg-4">
                <div class="services__item">
                    <svg class="services__icon">
                        <use xlink:href="#web"></use>
                    </svg>
                    <div class="services__title">Вёрстка макета</div>
                    <div class="services__text">
                        <p>Сверстаю макет из фотошопа или фигмы, адаптивно, отзывчиво и кроссбраузерно. Передам вам все исходники проекта.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="services__item">
                    <svg class="services__icon">
                        <use xlink:href="#cms"></use>
                    </svg>
                    <div class="services__title">Интеграция на cms</div>
                    <div class="services__text">
                        <p>Интегрирую вёрстку на систему управления wordpress / modx, чтобы вы сами могли менять информацию на сайте.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="services__item">
                    <svg class="services__icon">
                        <use xlink:href="#host"></use>
                    </svg>
                    <div class="services__title">Помощь с хостингом</div>
                    <div class="services__text">
                        <p>Помогу залить сайт на хостинг, подключу доменное имя, настройка яндекс-метрики, ssl-сертификат и прочие работы по сайту.</p>
                    </div>
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.services -->

    <a class="btn btn--pink" href="#" data-toggle="modal" data-target="#request">Оставить заявку</a>
</div>