<!-- Footer -->
<footer class="footer">
    <div class="container">

        <div class="social">
            <div class="social__text">Мои соц. сети</div>
            <a class="social__link" href="{{ data.link_vk }}" target="_blank" title="Вконтакте">
                <svg class="social__icon">
                    <use xlink:href="#vk"></use>
                </svg>
            </a>

            <a class="social__link" href="{{ data.link_tg }}" target="_blank" title="Телеграм">
                <svg class="social__icon social__icon--tg">
                    <use xlink:href="#tg"></use>
                </svg>
            </a>

            <a class="social__link" href="skype:{{ data.link_skype }}" target="_blank" title="Скайп">
                <svg class="social__icon social__icon--skype">
                    <use xlink:href="#skype"></use>
                </svg>
            </a>

            <a class="social__link" href="{{ data.link_git }}" target="_blank" title="Репозиторий кода">
                <svg class="social__icon social__icon--git">
                    <use xlink:href="#git"></use>
                </svg>
            </a>
        </div>

    </div>
</footer>
<!-- /.Footer -->
