<!-- Header -->
<header class="header">
    <div class="container">
        <div class="header__inner">

            <div class="row header__row">
                <div class="col-lg-2 col-md-3">
                    <a class="logo" href="index.html">
                        <span class="logo__prefix">in</span>Web
                    </a>
                </div>
                <div class="col-lg-10 col-md-9">
                    <nav class="nav">
                        <a class="nav__link active" href="index.html">Главная</a>
                        <a class="nav__link" href="services.html">Услуги</a>
                        <a class="nav__link" href="portfolio.html">Портфолио</a>
                    </nav>
                </div>
                <!-- <div class="col-lg-2">
                    <div class="lang">
                        <a href="#" class="lang__item active">ru</a>
                        <a href="#" class="lang__item">en</a>
                    </div>
                </div> -->
            </div><!-- /.row -->

        </div><!-- /.header__inner -->
    </div><!-- /.container -->
</header>
<!-- /.Header -->