<!-- Modal -->
<div class="modal fade" id="request" tabindex="-1" role="dialog" aria-labelledby="request" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <button type="button" class="modal__close" data-dismiss="modal" aria-label="Close">
                <svg class="modal__close-icon">
                    <use xlink:href="#close"></use>
                </svg>
            </button>

            <div class="modal__title">Напиши мне</div>
            <div class="modal__text">Заполните форму ниже и я свяжусь с вами в ближайшее время!</div>

            <form class="form" action="/" method="post">
                <div class="form__group">
                    <input class="input" type="text" placeholder="Ваше имя" required>
                </div>
                <div class="form__group">
                    <input class="input" type="email" placeholder="Ваш email" required>
                </div>
                <div class="form__group">
                    <input class="input" type="tel" placeholder="Ваш телефон" required>
                </div>

                <div class="row">
                    <div class="col-lg-6">
                        <button class="btn btn--pink" type="submit">Отправить</button>
                    </div>
                    
                    <div class="col-lg-6">
                        <ul class="contacts contacts--modal">
                            <li class="contacts__item">
                                <a class="contacts__link" href="tel:{{ data.link_tel }}">{{ data.link_tel }}</a>
                            </li>
                            <li class="contacts__item">
                                <a class="contacts__link" href="mailto:{{ data.link_email }}">{{ data.link_email }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </form>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<!-- /.Modal -->