<!-- Sprite -->
<svg style="display: none;">

    <symbol id="vk" viewbox="0 0 24 24">
        <path d="m19.915 13.028c-.388-.49-.277-.708 0-1.146.005-.005 3.208-4.431 3.538-5.932l.002-.001c.164-.547 0-.949-.793-.949h-2.624c-.668 0-.976.345-1.141.731 0 0-1.336 3.198-3.226 5.271-.61.599-.892.791-1.225.791-.164 0-.419-.192-.419-.739v-5.105c0-.656-.187-.949-.74-.949h-4.126c-.419 0-.668.306-.668.591 0 .622.945.765 1.043 2.515v3.797c0 .832-.151.985-.486.985-.892 0-3.057-3.211-4.34-6.886-.259-.713-.512-1.001-1.185-1.001h-2.625c-.749 0-.9.345-.9.731 0 .682.892 4.073 4.148 8.553 2.17 3.058 5.226 4.715 8.006 4.715 1.671 0 1.875-.368 1.875-1.001 0-2.922-.151-3.198.686-3.198.388 0 1.056.192 2.616 1.667 1.783 1.749 2.076 2.532 3.074 2.532h2.624c.748 0 1.127-.368.909-1.094-.499-1.527-3.871-4.668-4.023-4.878z"/>
    </symbol>

    <symbol id="tg" viewbox="0 0 300 300">
        <path id="XMLID_497_" d="M5.299,144.645l69.126,25.8l26.756,86.047c1.712,5.511,8.451,7.548,12.924,3.891l38.532-31.412
        c4.039-3.291,9.792-3.455,14.013-0.391l69.498,50.457c4.785,3.478,11.564,0.856,12.764-4.926L299.823,29.22
        c1.31-6.316-4.896-11.585-10.91-9.259L5.218,129.402C-1.783,132.102-1.722,142.014,5.299,144.645z M96.869,156.711l135.098-83.207
        c2.428-1.491,4.926,1.792,2.841,3.726L123.313,180.87c-3.919,3.648-6.447,8.53-7.163,13.829l-3.798,28.146
        c-0.503,3.758-5.782,4.131-6.819,0.494l-14.607-51.325C89.253,166.16,91.691,159.907,96.869,156.711z"/>
    </symbol>

    <symbol id="skype" viewbox="0 0 24 24">
        <path d="m23.309 14.547c1.738-7.81-5.104-14.905-13.139-13.543-4.362-2.707-10.17.352-10.17 5.542 0 1.207.333 2.337.912 3.311-1.615 7.828 5.283 14.821 13.311 13.366 5.675 3.001 11.946-2.984 9.086-8.676zm-7.638 4.71c-2.108.867-5.577.872-7.676-.227-2.993-1.596-3.525-5.189-.943-5.189 1.946 0 1.33 2.269 3.295 3.194.902.417 2.841.46 3.968-.3 1.113-.745 1.011-1.917.406-2.477-1.603-1.48-6.19-.892-8.287-3.483-.911-1.124-1.083-3.107.037-4.545 1.952-2.512 7.68-2.665 10.143-.768 2.274 1.76 1.66 4.096-.175 4.096-2.207 0-1.047-2.888-4.61-2.888-2.583 0-3.599 1.837-1.78 2.731 2.466 1.225 8.75.816 8.75 5.603-.005 1.992-1.226 3.477-3.128 4.253z"/>
    </symbol>

    <symbol id="git" viewbox="0 0 24 24">
        <path d="m12 .5c-6.63 0-12 5.28-12 11.792 0 5.211 3.438 9.63 8.205 11.188.6.111.82-.254.82-.567 0-.28-.01-1.022-.015-2.005-3.338.711-4.042-1.582-4.042-1.582-.546-1.361-1.335-1.725-1.335-1.725-1.087-.731.084-.716.084-.716 1.205.082 1.838 1.215 1.838 1.215 1.07 1.803 2.809 1.282 3.495.981.108-.763.417-1.282.76-1.577-2.665-.295-5.466-1.309-5.466-5.827 0-1.287.465-2.339 1.235-3.164-.135-.298-.54-1.497.105-3.121 0 0 1.005-.316 3.3 1.209.96-.262 1.98-.392 3-.398 1.02.006 2.04.136 3 .398 2.28-1.525 3.285-1.209 3.285-1.209.645 1.624.24 2.823.12 3.121.765.825 1.23 1.877 1.23 3.164 0 4.53-2.805 5.527-5.475 5.817.42.354.81 1.077.81 2.182 0 1.578-.015 2.846-.015 3.229 0 .309.21.678.825.56 4.801-1.548 8.236-5.97 8.236-11.173 0-6.512-5.373-11.792-12-11.792z"/>
    </symbol>

    <symbol id="close" viewbox="0 0 47.971 47.971">
         <path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
        c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
        C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
        s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z"/>
    </symbol>

    <symbol id="web" viewbox="0 -25 424 424">
        <path d="m167.289062 272.132812c-1.601562 0-3.214843-.550781-4.53125-1.671874l-45.296874-38.570313c-1.5625-1.332031-2.460938-3.277344-2.460938-5.332031 0-2.050782.902344-3.996094 2.460938-5.328125l45.296874-38.570313c2.941407-2.507812 7.359376-2.152344 9.867188.789063 2.503906 2.945312 2.152344 7.363281-.792969 9.867187l-39.035156 33.242188 39.035156 33.242187c2.945313 2.507813 3.296875 6.925781.792969 9.867188-1.386719 1.628906-3.355469 2.464843-5.335938 2.464843zm0 0"/><path d="m256.710938 272.132812c-1.980469 0-3.949219-.835937-5.332032-2.464843-2.507812-2.941407-2.152344-7.359375.789063-9.867188l39.035156-33.242187-39.035156-33.242188c-2.941407-2.503906-3.296875-6.921875-.789063-9.867187 2.503906-2.941407 6.925782-3.296875 9.863282-.789063l45.296874 38.570313c1.5625 1.332031 2.460938 3.277343 2.460938 5.328125 0 2.054687-.898438 4-2.460938 5.332031l-45.296874 38.570313c-1.316407 1.121093-2.929688 1.671874-4.53125 1.671874zm0 0"/><path d="m195.964844 301.0625c-.480469 0-.964844-.050781-1.453125-.152344-3.78125-.796875-6.203125-4.511718-5.40625-8.292968l28.230469-134.035157c.796874-3.78125 4.507812-6.203125 8.292968-5.40625 3.78125.796875 6.203125 4.507813 5.40625 8.292969l-28.230468 134.035156c-.695313 3.296875-3.601563 5.558594-6.839844 5.558594zm0 0"/><path d="m377 374.085938h-330c-25.914062 0-47-21.082032-47-47v-280.085938c0-25.914062 21.085938-47 47-47h330c25.914062 0 47 21.085938 47 47v280.085938c0 25.917968-21.085938 47-47 47zm-330-360.085938c-18.195312 0-33 14.804688-33 33v280.085938c0 18.195312 14.804688 33 33 33h330c18.195312 0 33-14.804688 33-33v-280.085938c0-18.195312-14.804688-33-33-33zm0 0"/><path d="m417 112.089844h-410c-3.867188 0-7-3.132813-7-7 0-3.863282 3.132812-7 7-7h410c3.867188 0 7 3.136718 7 7 0 3.867187-3.132812 7-7 7zm0 0"/><path d="m119.601562 78.59375c-12.210937 0-22.152343-9.941406-22.152343-22.152344 0-12.214844 9.941406-22.152344 22.152343-22.152344 12.214844 0 22.152344 9.9375 22.152344 22.152344 0 12.210938-9.9375 22.152344-22.152344 22.152344zm0-30.304688c-4.492187 0-8.152343 3.65625-8.152343 8.152344s3.660156 8.152344 8.152343 8.152344c4.496094 0 8.152344-3.65625 8.152344-8.152344s-3.65625-8.152344-8.152344-8.152344zm0 0"/><path d="m51.539062 78.378906c-12.214843 0-22.152343-9.9375-22.152343-22.152344 0-12.214843 9.9375-22.152343 22.152343-22.152343 12.214844 0 22.152344 9.9375 22.152344 22.152343 0 12.214844-9.9375 22.152344-22.152344 22.152344zm0-30.304687c-4.492187 0-8.152343 3.660156-8.152343 8.152343 0 4.496094 3.660156 8.152344 8.152343 8.152344 4.496094 0 8.152344-3.65625 8.152344-8.152344 0-4.492187-3.65625-8.152343-8.152344-8.152343zm0 0"/><path d="m187.664062 78.804688c-12.210937 0-22.148437-9.9375-22.148437-22.152344 0-12.210938 9.9375-22.148438 22.148437-22.148438 12.214844 0 22.152344 9.9375 22.152344 22.148438 0 12.214844-9.9375 22.152344-22.152344 22.152344zm0-30.304688c-4.492187 0-8.148437 3.65625-8.148437 8.152344s3.65625 8.152344 8.148437 8.152344c4.496094 0 8.152344-3.65625 8.152344-8.152344s-3.65625-8.152344-8.152344-8.152344zm0 0"/>
    </symbol>

    <symbol id="cms" viewbox="0 0 60 60">
        <path d="m55.5 60h-51c-2.481 0-4.5-2.019-4.5-4.5v-51c0-2.481 2.019-4.5 4.5-4.5h51c2.481 0 4.5 2.019 4.5 4.5v51c0 2.481-2.019 4.5-4.5 4.5zm-51-58c-1.378 0-2.5 1.121-2.5 2.5v51c0 1.379 1.122 2.5 2.5 2.5h51c1.379 0 2.5-1.121 2.5-2.5v-51c0-1.379-1.122-2.5-2.5-2.5z"/><path d="m9 10h-4c-.552 0-1-.447-1-1v-4c0-.553.448-1 1-1h4c.552 0 1 .447 1 1v4c0 .553-.448 1-1 1zm-3-2h2v-2h-2z"/><path d="m17 10h-4c-.552 0-1-.447-1-1v-4c0-.553.448-1 1-1h4c.552 0 1 .447 1 1v4c0 .553-.448 1-1 1zm-3-2h2v-2h-2z"/><path d="m25 10h-4c-.552 0-1-.447-1-1v-4c0-.553.448-1 1-1h4c.552 0 1 .447 1 1v4c0 .553-.448 1-1 1zm-3-2h2v-2h-2z"/><path d="m59 14h-58c-.552 0-1-.447-1-1v-8.5c0-2.481 2.019-4.5 4.5-4.5h51c2.481 0 4.5 2.019 4.5 4.5v8.5c0 .553-.448 1-1 1zm-57-2h56v-7.5c0-1.379-1.122-2.5-2.5-2.5h-51c-1.378 0-2.5 1.121-2.5 2.5z"/><path d="m7.5 35h-1.5c-.552 0-1-.447-1-1v-1.5c0-.553.448-1 1-1s1 .447 1 1v.5h.5c.552 0 1 .447 1 1s-.448 1-1 1z"/><path d="m6 28.772c-.552 0-1-.447-1-1v-3.546c0-.553.448-1 1-1s1 .447 1 1v3.546c0 .553-.448 1-1 1z"/><path d="m6 20.5c-.552 0-1-.447-1-1v-1.5c0-.553.448-1 1-1h1.5c.552 0 1 .447 1 1s-.448 1-1 1h-.5v.5c0 .553-.448 1-1 1z"/><path d="m48.587 19h-2.935c-.552 0-1-.447-1-1s.448-1 1-1h2.935c.552 0 1 .447 1 1s-.448 1-1 1zm-6.848 0h-2.935c-.552 0-1-.447-1-1s.448-1 1-1h2.935c.552 0 1 .447 1 1s-.447 1-1 1zm-6.848 0h-2.935c-.552 0-1-.447-1-1s.448-1 1-1h2.935c.552 0 1 .447 1 1s-.448 1-1 1zm-6.848 0h-2.935c-.552 0-1-.447-1-1s.448-1 1-1h2.935c.552 0 1 .447 1 1s-.447 1-1 1zm-6.847 0h-2.935c-.552 0-1-.447-1-1s.448-1 1-1h2.935c.552 0 1 .447 1 1s-.448 1-1 1zm-6.848 0h-2.935c-.552 0-1-.447-1-1s.448-1 1-1h2.935c.552 0 1 .447 1 1s-.448 1-1 1z"/><path d="m54 20.5c-.552 0-1-.447-1-1v-.5h-.5c-.552 0-1-.447-1-1s.448-1 1-1h1.5c.552 0 1 .447 1 1v1.5c0 .553-.448 1-1 1z"/><path d="m54 28.773c-.552 0-1-.447-1-1v-3.546c0-.553.448-1 1-1s1 .447 1 1v3.546c0 .553-.448 1-1 1z"/><path d="m54 35h-1.5c-.552 0-1-.447-1-1s.448-1 1-1h.5v-.5c0-.553.448-1 1-1s1 .447 1 1v1.5c0 .553-.448 1-1 1z"/><path d="m48.587 35h-2.935c-.552 0-1-.447-1-1s.448-1 1-1h2.935c.552 0 1 .447 1 1s-.448 1-1 1zm-6.848 0h-2.935c-.552 0-1-.447-1-1s.448-1 1-1h2.935c.552 0 1 .447 1 1s-.447 1-1 1zm-6.848 0h-2.935c-.552 0-1-.447-1-1s.448-1 1-1h2.935c.552 0 1 .447 1 1s-.448 1-1 1zm-6.848 0h-2.935c-.552 0-1-.447-1-1s.448-1 1-1h2.935c.552 0 1 .447 1 1s-.447 1-1 1zm-6.847 0h-2.935c-.552 0-1-.447-1-1s.448-1 1-1h2.935c.552 0 1 .447 1 1s-.448 1-1 1zm-6.848 0h-2.935c-.552 0-1-.447-1-1s.448-1 1-1h2.935c.552 0 1 .447 1 1s-.448 1-1 1z"/><path d="m30 30c-.552 0-1-.447-1-1v-6c0-.553.448-1 1-1s1 .447 1 1v6c0 .553-.448 1-1 1z"/><path d="m33 27h-6c-.552 0-1-.447-1-1s.448-1 1-1h6c.552 0 1 .447 1 1s-.448 1-1 1z"/><path d="m54 55h-48c-.552 0-1-.447-1-1v-15c0-.553.448-1 1-1h48c.552 0 1 .447 1 1v15c0 .553-.448 1-1 1zm-47-2h46v-13h-46z"/>
    </symbol>
    <symbol id="host" viewbox="0 0 496 496">
        <path d="m48 160h32v16h-32zm0 0"/><path d="m472 128c13.230469 0 24-10.769531 24-24v-80c0-13.230469-10.769531-24-24-24h-112c-13.230469 0-24 10.769531-24 24v80c0 13.230469 10.769531 24 24 24h24v16h-16v16h40v80h-33.015625c-6.382813-6.230469-14.242187-11-23.039063-13.625.039063-.808594.054688-1.589844.054688-2.375 0-35.289062-28.710938-64-64-64-21.894531 0-42.246094 11.390625-53.902344 29.609375-8.210937-3.6875-17.089844-5.609375-26.097656-5.609375-26.550781 0-50.457031 16.734375-59.808594 41.28125-6.078125 1.304688-11.742187 3.640625-16.886718 6.71875h-59.304688v-24h32c13.230469 0 24-10.769531 24-24v-160c0-13.230469-10.769531-24-24-24h-80c-13.230469 0-24 10.769531-24 24v160c0 13.230469 10.769531 24 24 24h32v40h58.289062c-3.402343 4.855469-6.042968 10.214844-7.777343 16h-34.511719v88h-32c-13.230469 0-24 10.769531-24 24v72h-16v24c0 13.230469 10.769531 24 24 24h128c13.230469 0 24-10.769531 24-24v-24h-16v-72c0-13.230469-10.769531-24-24-24h-48v-72h16c0 30.871094 25.128906 56 56 56h176c28.152344 0 51.457031-20.910156 55.359375-48h32.640625v64h-56v144h128v-144h-56v-80h-48.671875c-.832031-5.632812-2.558594-10.992188-4.976563-16h37.648438v-96h40v-16h-16v-16zm-360 0h-96v-80h96zm-88-112h80c4.414062 0 8 3.585938 8 8v8h-96v-8c0-4.414062 3.585938-8 8-8zm-8 168v-40h96v40c0 4.414062-3.585938 8-8 8h-80c-4.414062 0-8-3.585938-8-8zm144 288c0 4.414062-3.585938 8-8 8h-128c-4.414062 0-8-3.585938-8-8v-8h144zm-16-96v72h-112v-72c0-4.414062 3.585938-8 8-8h96c4.414062 0 8 3.585938 8 8zm240 104v-48h96v48zm96-64h-96v-48h96zm-144-96h-176c-22.054688 0-40-17.945312-40-40 0-20.222656 15.136719-37.28125 35.199219-39.679688l5.25-.632812 1.480469-5.078125c5.917968-20.378906 24.871093-34.609375 46.070312-34.609375 8.832031 0 17.503906 2.480469 25.105469 7.160156l7.636719 4.710938 3.808593-8.136719c7.875-16.855469 24.929688-27.734375 43.449219-27.734375 26.472656 0 48 21.527344 48 48 0 2.207031-.199219 4.558594-.632812 7.398438l-1.207032 7.914062 7.910156 1.199219c19.34375 2.953125 33.929688 19.929687 33.929688 39.488281 0 22.054688-17.945312 40-40 40zm24-304h112c4.414062 0 8 3.585938 8 8v56h-128v-56c0-4.414062 3.585938-8 8-8zm-8 88v-8h128v8c0 4.414062-3.585938 8-8 8h-112c-4.414062 0-8-3.585938-8-8zm80 40h-32v-16h32zm0 0"/><path d="m400 384h16v16h-16zm0 0"/><path d="m448 448h16v16h-16zm0 0"/><path d="m432 384h32v16h-32zm0 0"/><path d="m400 448h32v16h-32zm0 0"/>
    </symbol>

    <symbol id="prev" viewbox="0 0 240.823 240.823">
        <path id="Chevron_Right" d="M57.633,129.007L165.93,237.268c4.752,4.74,12.451,4.74,17.215,0c4.752-4.74,4.752-12.439,0-17.179
        l-99.707-99.671l99.695-99.671c4.752-4.74,4.752-12.439,0-17.191c-4.752-4.74-12.463-4.74-17.215,0L57.621,111.816
        C52.942,116.507,52.942,124.327,57.633,129.007z"/>
    </symbol>

</svg>
<!-- /.Sprite -->