$white: #fff;
$pink: #ec3482;
$black: #121212;
$grey: #fafafa;
$grey_dark: #a1a1a1;

$radius: 10px;
$radius_sm: 5px;
$shadow: 0 0 25px rgba(0, 0, 0, .05);

$breakpoint_xl: 1330px;
$breakpoint_lg: 1100px;
$breakpoint_md: 990px;
$breakpoint_sm: 575px;


// Bootstrap Modal
$modal-backdrop-bg: #0a1630;
$modal-backdrop-opacity: .9;